/**   Fonts   */

@font-face {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open sans"),
        url("../font/opensans.woff2") format("woff2"),
        url("../font/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open sans"),
        url("../font/opensanslight.woff2") format("woff2"),
        url("../font/opensanslight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src: local("Gilroy-Light"), local("Gilroy Light"),
        url("../font/gilroylight.woff2") format("woff2"),
        url("../font/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"),
        url("../font/gilroyextrabold.woff2") format("woff2"),
        url("../font/gilroyextrabold.woff") format("woff");
}


/**   Variables    */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;
    --special-yellow: #f8e297;
    --special-light-yellow: #F7E184;
    --special-yellow-dark: #F0C52E;
    --special-pure-yellow: #FFC600;
    --special-green: #91C92F;
    --special-light-gray: #dbdbdb;
    --special-half-grey: #E5E5E5;
    --special-gray: #ababab;
    --special-gray-30: rgba(171, 171, 171, 0.3);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-70: rgba(255, 255, 255, 0.7);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-30: rgba(0, 0, 0, 0.3);
    --black-60: rgba(0, 0, 0, 0.6);
    --error: #F6DADA;

    --icon-search: url("../img/icons/search.svg");
}

/**   Global   */

.page {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows:
        min-content
        1fr
        min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";

    min-width: 1440px;
    height: 100%;
    padding: 0;

    font-family: "Open sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: var(--basic-black);

    background-color: var(--basic-white);
}

.page a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 0;
    width: 160px;
    min-height: 40px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: var(--basic-black);

    border: none;
}

/**   Grid   */

/**   Grid for pages   */


/**   Main header   */
.main-header {
    position: relative;
    grid-area: header;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 40px;
    padding: 33px 60px 133px;

    background-color: var(--special-yellow);
}

.main-header::before {
    content: "";

    position: absolute;
    bottom: 67px;
    left: 600px;

    width: 100px;
    height: 7px;

    background-color: var(--basic-white);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
    margin-bottom: 27px;
}

/**   header-link-condition   */
.header-link-condition:hover,
.header-link-condition:focus {
    opacity: 0.6;
}

.header-link-condition:active {
    opacity: 0.3;
}

/**   header-logo   */

.header-logo {
    position: absolute;
    top: -17px;
    left: 58px;
}

.header-logo-img {
    width: 163px;
    height: 35px;
}

/**   search   */

.search {
    position: relative;
    display: flex;
}

.search-label::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 3px;

    width: 16px;
    height: 16px;

    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-field {
    box-sizing: border-box;
    padding-left: 38px;
    width: 355px;

    outline: none;
    border: none;
    background-color: transparent;
}

.search-field::placeholder {
    opacity: 0.3;
}

.search-field:hover::placeholder {
    opacity: 0.6;
}

.search-field:focus::placeholder {
    opacity: 1;
}

.search-button {
    position: relative;

    box-sizing: border-box;
    width: 85px;
    height: 49px;

    line-height: 30px;

    border: 2px solid var(--basic-black);
    background-color: transparent;

    visibility: hidden;
}

.search-button::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: -2px;

    width: 440px;
    height: 2px;

    background-color: var(--basic-black);

}

.search-field:focus + .search-button {
    visibility: visible;
}

.search-button:focus,
.search-button:hover {
    color: var(--basic-white);

    background: var(--basic-black);
}

.search-button:active {
    visibility: visible;
    color: var(--white-30);
}


/**   navigation   */

.main-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.navigation-bar {
    flex-wrap: wrap;
    width: 500px;
}

/**   user-navigation   */
.user-navigation {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation-item {
    margin-right: 38px;
}

.user-navigation-item:last-child {
    margin-right: 0;
}

.user-navigation-item:first-child {
    flex-grow: 1;
}


.user-link-entry,
.user-link-compare,
.user-link-cart {
    position: relative;

    padding-left: 27px;
}

.user-link-entry::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 0;

    width: 13px;
    height: 12px;

    background-image: url("../img/icons/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.user-link-compare::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 7px;

    width: 10px;
    height: 10px;

    background-image: url("../img/icons/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.user-link-cart::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 4px;

    width: 12px;
    height: 12px;

    background-image: url("../img/icons/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/**   main-navigation   */

.main-navigation-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation-link {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.8px;
    text-transform: uppercase;
}

.navigation-link-catalog {
    position: relative;
    padding-right: 25px;
}

.navigation-link-catalog::after {
    content: "";

    position: absolute;
    top: 3px;
    right: 0;

    width: 16px;
    height: 16px;

    background-image: url("../img/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-link-catalog:hover,
.navigation-link-catalog:focus {
    color: var(--black-60);
}

.navigation-link-catalog:active {
    color: var(--black-30);
}

.dropdown-menu {
    position: absolute;
    left: 0;
    bottom: 0;

    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 167px;
    padding: 0 58px;

    background-color: var(--special-yellow);

    z-index: 10;
}

.navigation-link:hover + .dropdown-menu,
.navigation-link:focus + .dropdown-menu {
    display: flex;
}

.dropdown-menu:hover,
.dropdown-menu:focus {
    display: flex;
}


.main-navigation-column {
    margin: 0;
    margin-right: 63px;
    padding: 0;
    padding-top: 28px;
    min-width: 140px;

    line-height: 36px;

    list-style: none;
}

.services-navigation-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation-item {
    margin-right: 35px;
}

.navigation-item:last-child {
    flex-grow: 1;

    margin-right: -7px;

    text-align: end;
}

/**   /header   */


/**   main   */
.main {
    grid-area: main;
}


/**   Slider  */

.slider {
    position: relative;
    margin-top: -126px;
    margin-bottom: 57px;
    min-height: 550px;
}

.slider-toggle-list {
    position: absolute;
    top: 342px;
    right: 62px;

    display: flex;
    flex-wrap: wrap;
    max-width: 140px;
    margin: 0;
    padding: 0;

    list-style: none;

}

.toggle-item {
    margin-right: 21px;
}

.toggle-button {
    position: relative;

    display: block;
    box-sizing: border-box;
    padding: 0;
    width: 12px;
    height: 12px;

    background-color: transparent;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    cursor: pointer;
}

.toggle-current::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    box-sizing: border-box;
    width: 4px;
    height: 4px;

    background-color: inherit;
    border: 1px solid var(--basic-black);
    border-radius: 50%;

}

.slider-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.slider-item {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.slide-nubrer {
    position: absolute;
    top: -25px;
    right: 46px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 179px;
    letter-spacing: 2px;
    color: var(--basic-white);
}

.slider-current {
    display: flex;
}

.slide-wrapper {
    width: 560px;

    overflow: hidden;
}

.slide-wrapper-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-title {
    position: relative;

    margin: 0;
    margin-top: 94px;
    margin-bottom: 5px;

    max-width: 503px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.6px;
    z-index: 1;
}

.slide-2 .slide-title {
    margin-bottom: 12px;
}


.slide-text {
    margin: 0;
    margin-bottom: 57px;
    padding: 0;
    max-width: 481px;

    letter-spacing: 0.15px;
    color: var(--basic-grey);
}

.slide-2 .slide-text {
    margin-bottom: 50px;
}

.slide-button {
    position: relative;

    margin-bottom: 50px;
    width: 220px;
}

.slide-button::before {
    content: "";

    position: absolute;
    top: 40%;
    left: 0;

    width: 100%;
    height: 8px;

    background-color: var(--special-yellow-dark);
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.slide-button:hover::before,
.slide-button:focus::before {
    transform: scaleY(5);
}

.slide-button:active {
    color: var(--black-30);
}

.slide-description-list {
    display: grid;
    grid-template-columns: 155px 135px 135px;
    grid-template-rows: max-content;
    column-gap: 5px;
    row-gap: 7px;

    max-width: 500px;
    margin: 0;
    padding: 0;
}

.slide-description-list dd {
    grid-row: 1 / 2;

    margin: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
}

.slide-description-list dt {
    grid-row: 2 / 3;
    font-size: 13px;
    line-height: 20px;
    color: var(--basic-grey);
}

/**   catigories   */

.categories {
    margin-bottom: 85px;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.categories-link {
    position: relative;
}

.categories-link p {
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: var(--basic-black);
}

.categories-link::before {
    content: "";

    display: block;
    margin-bottom: 33px;
    width: 160px;
    height: 160px;

    background-color: var(--special-yellow);
}

.categories-vr::before,
.categories-monopod::before {
    margin-bottom: 27px;
}

.categories-link::after {
    content: "";

    position: absolute;
    top: 0;
    width: 160px;
    height: 160px;

    background-repeat: no-repeat;
}

.categories-vr::after {
    background-image: url("../img/popular/vr.svg");
    background-position: 31px 52px;
}

.categories-monopod::after {
    background-image: url("../img/popular/monopod.svg");
    background-position: 38px 41px;
}

.categories-camera::after {
    background-image: url("../img/popular/camera.svg");
    background-position: 49px 38px;
}

.categories-bracelet::after {
    background-image: url("../img/popular/bracelet.svg");
    background-position: 28px 49px;
}

.categories-watch::after {
    background-image: url("../img/popular/watch.svg");
    background-position: 55px 32px;
}

.categories-quadrocopter::after {
    background-image: url("../img/popular/quadrocopter.svg");
    background-position: 13px 49px;
}

.categories-link:hover::before,
.categories-link:focus::before {
    background-color: var(--special-yellow-dark);
}

.categories-link:active,
.categories-link:active > p {
    opacity: 0.3;
}

/**---Services---*/

.services {
    margin-bottom: 95px;
    padding-bottom: 70px;

    background-image: linear-gradient(to bottom, var(--basic-white) 102px, var(--special-half-grey) 102px);
}

.services-wrapper {
    display: grid;
    grid-template-columns: 200px 760px;
    column-gap: 200px;
}

.services-control-list {
    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 82px;
    padding-bottom: 66px;
    list-style: none;
}

.services-control-list::after {
    content: "";

    position: absolute;
    top: 2px;
    left: 277px;

    width: 7px;
    height: 319px;

    background-color: var(--basic-black);
}


.services-control-item {
    margin-bottom: 24px;
}

.services-button {
    position: relative;

    background-color: transparent;
    z-index: 0;
}

.services-button::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 0;

    width: 100%;
    height: 8px;

    background-color: var(--special-yellow-dark);
    z-index: -2;
}

.services-button-current {
    color: var(--special-light-yellow);
}

.services-button-current::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 280px;
    height: 40px;

    background-color: var(--basic-black);
    z-index: -1;

}

.services-list {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    list-style: none;
}

.services-item {
    position: relative;
    display: none;
    padding-right: 200px;
}

.services-item::after {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-item-delivery::after {
    top: 16px;
    right: 54px;

    width: 140px;
    height: 165px;
    background-image: url(../img/services-slider/delivery.svg);
}

.services-item-guarantee::after {
    top: -7px;
    right: 46px;

    width: 172px;
    height: 195px;
    background-image: url(../img/services-slider/warranty.svg)
}

.services-item-credit::after {
    top: -7px;
    right: 46px;

    width: 172px;
    height: 195px;
    background-image: url(../img/services-slider/credit.svg)
}

.services-item-current {
    display: block;
}

.services-title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.8px;
}

.services-text {
    margin: 0;
    padding: 0;

    letter-spacing: 0.15px;
    color: var(--basic-grey);
}

/**   brends   */
.brends-list {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.brends-link {
    opacity: 0.2;
}

.brends-link:hover,
.brends-link:focus {
    opacity: 1;
}

.brends-img {
    width: 260px;
    height: 100px;
}

/**   contacts and about-us   */

.info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-item {
    box-sizing: border-box;
    max-width: 560px;
}

.info-wrapper section:nth-child(odd) {
    margin-right: 40px;
}

.about-us {
    padding-right: 125px;
}



.map-img {
    width: 560px;
    height: 222px;
}




/**   Logo   */


/**   Container   */


/**   Catalog   */
.filters {
    margin: 0 auto;
    width: 201px;

    background-color: var(--)
}

.filter-wrapper {
    border-top: 2px solid var(--basic-black);
    padding-top: 9px;
}

.filters fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter-legend {
    margin-bottom: 25px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.range-controls {
    position: relative;

    height: 25px;
}

.scale {
    position: relative;

    height: 2px;
    width: 201px;

    background-color: var(--special-light-gray);
}

.bar{
    height: 2px;
    width: 60%;

    background-color: var(--special-green);
}

.toggle {
    position: absolute;
    top: -9px;
    left: -10px;

    width: 4px;
    height: 4px;

    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background-color: var(--special-gray);
    box-shadow: 0 2px 0 0 var(--special-gray-30);
    cursor: pointer;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: var(--black-20);

}

.price-controls input {
    width: 70px;

    font: inherit;
    color: var(--black-20);

    border: none;
}


/**   footer   */

.main-footer {
    grid-area: footer;

    padding: 59px 0;

    background-color: var(--basic-grey);
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-wrapper-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 38px;
    width: 100%;
}

.footer-logo-img {
    vertical-align: middle;
}

.footer-logo-img:hover,
.footer-logo-img:focus {
    opacity: 0.6;
}

.footer-logo-img:active {
    opacity: 0.3;
}


.main-footer-list {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    width: 360px;

    list-style: none;
}

.main-footer-item {
    opacity: 0.7;
}

.main-footer-item:hover,
.main-footer-item:focus {
    opacity: 1;
}

.main-footer-item:active {
    opacity: 0.3;
}

.main-footer-link {
    position: relative;

    padding-left: 26px;

    line-height: 36px;
    color: var(--white-70);
}

.main-footer-link::before {
    content: "";

    position: absolute;
}

.footer-link-entry::before {
    top: 5px;
    left: 0;
    width: 13px;
    height: 12px;

    background-image: url("../img/icons/user-yellow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-link-compare::before {
    top: 7px;
    left: 6px;
    width: 10px;
    height: 10px;

    background-image: url("../img/icons/compare-yellow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-link-cart::before {
    top: 5px;
    left: 4px;
    width: 12px;
    height: 12px;

    background-image: url("../img/icons/cart-yellow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.footer-wrapper-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    margin-bottom: 61px;

    color: white;
}

.address {
    margin: 0;
    padding: 0;

    color: var(--basic-white);
}

.footer-services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0 6px;
    box-sizing: border-box;
    width: 440px;

    list-style: none;
}

.footer-services-link {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: var(--basic-white);
    text-transform: uppercase;
}

.footer-services-link:hover,
.footer-services-link:focus {
    opacity: 0.6;
}

.footer-services-link:active {
    opacity: 0.3;
}

.contact-number {
    margin: 0;
    padding: 0;

    text-align: end;
}

.contact-number-link {
    color: var(--basic-white);
}

.footer-wrapper-bottom {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.footer-wrapper-bottom::before {
    content: "";

    width: 80px;
    height: 7px;

    background-color: var(--special-pure-yellow);
}

.social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    width: 440px;

    list-style: none;
}

.social-item {
    margin: 0 11px;
    opacity: 0.3;
}

.social-item:hover,
.social-item:focus {
    opacity: 0.6;
}

.social-item:active {
    opacity: 0.1;
}

.social-button::before {
    content: "";

    display: block;
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.social-button-fb::before {
    background-image: url("../img/footer/fb.svg");
}

.social-button-inst::before {
    background-image: url("../img/footer/instagram.svg");
}

.social-button-tw::before {
    background-image: url("../img/footer/twitter.svg");
}

.footer-academy-logo {
    text-align: end;
}

.academy-logo-img {
    vertical-align: middle;
}

.academy-logo-img:hover,
.academy-logo-img:focus {
    opacity: 0.6;
}

.academy-logo-img:active {
    opacity: 0.3;
}

/**   modal   */

.modal {
    display: none;
}
